modules/integration/tests-integration/tests/src/test/resources/artifacts/GREG/wsdl/CorruptedEcho1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://echo.services.core.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http1="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://echo.services.core.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://echo.services.core.carbon.wso2.org">
    <wsdl:documentation>echo1</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://echo.services.core.carbon.wso2.org/xsd">
            <xs:complexType name="SimpleBean">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="a_r" nillable="true" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="b_r" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="c" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://echo.services.core.carbon.wso2.org/xsd"   targetNamespace="http://echo.services.core.carbon.wso2.org">
            <xs:import namespace="http://echo.services.core.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string"/>
           
            </xs:element>
            <xs:element name="echoStringArraysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:SimpleBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoOMElement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="omEle" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoOMElementResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoIntResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    
        <wsdl:binding name="echoSoap11Binding" type="ns:echoPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="EchoStringArrays">
            <soap:operation soapAction="urn:EchoStringArrays" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
             
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoInt">
            <soap:operation soapAction="urn:echoInt" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="throwAxisFault">
            <soap:operation soapAction="urn:throwAxisFault" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoString">
            <soap:operation soapAction="urn:echoString" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="echoSoap12Binding" type="ns:echoPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echoStringArrays">
            <soap12:operation soapAction="urn:echoStringArrays" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoOMElement">
            <soap12:operation soapAction="urn:echoOMElement" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoInt">
            <soap12:operation soapAction="urn:echoInt" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="throwAxisFault">
            <soap12:operation soapAction="urn:throwAxisFault" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoString">
            <soap12:operation soapAction="urn:echoString" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="echoHttpBinding" type="ns:echoPortType">
        <http1:binding verb="POST"/>
        <wsdl:operation name="echoStringArrays">
            <http1:operation location="echoStringArrays"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echoStringArrays"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echoStringArrays"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoOMElement">
            <http1:operation location="echoOMElement"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echoOMElement"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echoOMElement"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoInt">
            <http1:operation location="echoInt"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echoInt"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echoInt"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="throwAxisFault">
            <http1:operation location="throwAxisFault"/>
            <wsdl:input>
                <mime:content type="text/xml" part="throwAxisFault"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="throwAxisFault"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoString">
            <http1:operation location="echoString"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echoString"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echoString"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
</wsdl:definitions>