modules/integration/tests-integration/tests/src/test/resources/artifacts/GREG/wsdl/WithInlinePolicyAndSchema.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://www.wso2.org/types" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.wso2.org/types">
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="SigOnly">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:InitiatorToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">

                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference />
                                        <sp:WssX509V3Token10 />
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:InitiatorToken>
                        <sp:RecipientToken>
                            <wsp:Policy>

                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference />
                                        <sp:WssX509V3Token10 />
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:RecipientToken>
                        <sp:AlgorithmSuite>

                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict />
                            </wsp:Policy>
                        </sp:Layout>

                        <sp:IncludeTimestamp />
                        <sp:OnlySignEntireHeadersAndBody />
                    </wsp:Policy>
                </sp:AsymmetricBinding>
                <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Policy>
                        <sp:MustSupportRefKeyIdentifier />
                        <sp:MustSupportRefIssuerSerial />
                    </sp:Policy>

                </sp:Wss10>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body />
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:documentation>
        This is a sample service to test axis2 web services
    </wsdl:documentation>

    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://www.wso2.org/types">
            <xs:element name="getTime">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getTimeResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="echoInt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="x" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoIntResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Ping">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoIntRequest">
        <wsdl:part name="parameters" element="ns:echoInt" />
    </wsdl:message>

    <wsdl:message name="echoIntResponse">
        <wsdl:part name="parameters" element="ns:echoIntResponse" />
    </wsdl:message>
    <wsdl:message name="PingRequest">
        <wsdl:part name="parameters" element="ns:Ping" />
    </wsdl:message>
    <wsdl:message name="getTimeRequest">
        <wsdl:part name="parameters" element="ns:getTime" />
    </wsdl:message>

    <wsdl:message name="getTimeResponse">
        <wsdl:part name="parameters" element="ns:getTimeResponse" />
    </wsdl:message>
    <wsdl:message name="echoStringRequest">
        <wsdl:part name="parameters" element="ns:echoString" />
    </wsdl:message>
    <wsdl:message name="echoStringResponse">
        <wsdl:part name="parameters" element="ns:echoStringResponse" />
    </wsdl:message>

    <wsdl:portType name="Axis2ServicePortType">
        <wsdl:operation name="echoInt">
            <wsdl:input message="ns:echoIntRequest" wsaw:Action="urn:echoInt" />
            <wsdl:output message="ns:echoIntResponse" wsaw:Action="urn:echoIntResponse" />
        </wsdl:operation>
        <wsdl:operation name="Ping">
            <wsdl:input message="ns:PingRequest" wsaw:Action="urn:Ping" />
        </wsdl:operation>
        <wsdl:operation name="getTime">

            <wsdl:input message="ns:getTimeRequest" wsaw:Action="urn:getTime" />
            <wsdl:output message="ns:getTimeResponse" wsaw:Action="urn:getTimeResponse" />
        </wsdl:operation>
        <wsdl:operation name="echoString">
            <wsdl:input message="ns:echoStringRequest" wsaw:Action="urn:echoString" />
            <wsdl:output message="ns:echoStringResponse" wsaw:Action="urn:echoStringResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Axis2ServiceSoap11Binding" type="ns:Axis2ServicePortType">

        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#SigOnly" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="Ping">
            <soap:operation soapAction="urn:Ping" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="echoInt">

            <soap:operation soapAction="urn:echoInt" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTime">

            <soap:operation soapAction="urn:getTime" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoString">

            <soap:operation soapAction="urn:echoString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="Axis2ServiceSoap12Binding" type="ns:Axis2ServicePortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#SigOnly" />
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="Ping">
            <soap12:operation soapAction="urn:Ping" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>

        <wsdl:operation name="echoInt">
            <soap12:operation soapAction="urn:echoInt" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getTime">
            <soap12:operation soapAction="urn:getTime" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="echoString">
            <soap12:operation soapAction="urn:echoString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="Axis2Service">
        <wsdl:port name="Axis2ServiceHttpSoap11Endpoint" binding="ns:Axis2ServiceSoap11Binding">
            <soap:address location="http://10.200.3.45:9770/services/Axis2Service.Axis2ServiceHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="Axis2ServiceHttpsSoap11Endpoint" binding="ns:Axis2ServiceSoap11Binding">
            <soap:address location="https://10.200.3.45:9450/services/Axis2Service.Axis2ServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="Axis2ServiceHttpSoap12Endpoint" binding="ns:Axis2ServiceSoap12Binding">

            <soap12:address location="http://10.200.3.45:9770/services/Axis2Service.Axis2ServiceHttpSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="Axis2ServiceHttpsSoap12Endpoint" binding="ns:Axis2ServiceSoap12Binding">
            <soap12:address location="https://10.200.3.45:9450/services/Axis2Service.Axis2ServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>