modules/integration/tests-integration/tests/src/test/resources/artifacts/GREG/wsdl/wsdl_with_EncrOnlyAnonymous.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.samples" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.samples" xmlns:ax211="http://services.samples/xsd" >

    <wsdl:documentation>SimpleStockQuoteService1M</wsdl:documentation>

    <wsdl:types>
        <xsd:schema targetNamespace="http://services.samples/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://services.samples/xsd" schemaLocation="https://svn.wso2.org/repos/wso2/carbon/platform/trunk/platform-integration/system-test-framework/core/org.wso2.automation.platform.core/src/main/resources/artifacts/GREG/schema/SampleSchema.xsd">
            </xsd:import>
        </xsd:schema>
        <xs:schema xmlns:ax212="http://services.samples/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.samples">
            <xs:import namespace="http://services.samples/xsd" />
            <xs:element name="placeOrder">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="order" nillable="true" type="ax212:PlaceOrder" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSimpleQuote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="symbol" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSimpleQuoteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:GetQuoteResponse" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getQuote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax212:GetQuote" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getQuoteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:GetQuoteResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getMarketActivity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax212:GetMarketActivity" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMarketActivityResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:GetMarketActivityResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFullQuote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax212:GetFullQuote" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getFullQuoteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax212:GetFullQuoteResponse" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getQuoteRequest">
        <wsdl:part name="parameters" element="ns:getQuote" />
    </wsdl:message>
    <wsdl:message name="getQuoteResponse">
        <wsdl:part name="parameters" element="ns:getQuoteResponse" />
    </wsdl:message>

    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:message name="getMarketActivityRequest">
        <wsdl:part name="parameters" element="ns:getMarketActivity" />
    </wsdl:message>
    <wsdl:message name="getMarketActivityResponse">
        <wsdl:part name="parameters" element="ns:getMarketActivityResponse" />
    </wsdl:message>

    <wsdl:message name="getFullQuoteRequest">
        <wsdl:part name="parameters" element="ns:getFullQuote" />
    </wsdl:message>
    <wsdl:message name="getFullQuoteResponse">
        <wsdl:part name="parameters" element="ns:getFullQuoteResponse" />
    </wsdl:message>
    <wsdl:message name="getSimpleQuoteRequest">
        <wsdl:part name="parameters" element="ns:getSimpleQuote" />
    </wsdl:message>

    <wsdl:message name="getSimpleQuoteResponse">
        <wsdl:part name="parameters" element="ns:getSimpleQuoteResponse" />
    </wsdl:message>
    <wsdl:message name="placeOrderRequest">
        <wsdl:part name="parameters" element="ns:placeOrder" />
    </wsdl:message>
    <wsdl:portType name="SimpleStockQuoteService1MPortType">
        <wsdl:operation name="getQuote">
            <wsdl:input message="ns:getQuoteRequest" wsaw:Action="urn:getQuote" />

            <wsdl:output message="ns:getQuoteResponse" wsaw:Action="urn:getQuoteResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getQuoteException" />
        </wsdl:operation>
        <wsdl:operation name="getMarketActivity">
            <wsdl:input message="ns:getMarketActivityRequest" wsaw:Action="urn:getMarketActivity" />
            <wsdl:output message="ns:getMarketActivityResponse" wsaw:Action="urn:getMarketActivityResponse" />
        </wsdl:operation>
        <wsdl:operation name="getFullQuote">
            <wsdl:input message="ns:getFullQuoteRequest" wsaw:Action="urn:getFullQuote" />

            <wsdl:output message="ns:getFullQuoteResponse" wsaw:Action="urn:getFullQuoteResponse" />
        </wsdl:operation>
        <wsdl:operation name="getSimpleQuote">
            <wsdl:input message="ns:getSimpleQuoteRequest" wsaw:Action="urn:getSimpleQuote" />
            <wsdl:output message="ns:getSimpleQuoteResponse" wsaw:Action="urn:getSimpleQuoteResponse" />
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <wsdl:input message="ns:placeOrderRequest" wsaw:Action="urn:placeOrder" />
        </wsdl:operation>

    </wsdl:portType>
    <wsdl:binding name="SimpleStockQuoteService1MSoap11Binding" type="ns:SimpleStockQuoteService1MPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="https://svn.wso2.org/repos/wso2/carbon/platform/trunk/platform-integration/system-test-framework/core/org.wso2.automation.platform.core/src/main/resources/artifacts/GREG/policy/EncrOnlyAnonymous.xml" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getMarketActivity">
            <soap:operation soapAction="urn:getMarketActivity" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQuote">
            <soap:operation soapAction="urn:getQuote" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>

            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFullQuote">
            <soap:operation soapAction="urn:getFullQuote" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSimpleQuote">
            <soap:operation soapAction="urn:getSimpleQuote" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="urn:placeOrder" style="document" />

            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimpleStockQuoteService1MSoap12Binding" type="ns:SimpleStockQuoteService1MPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="https://svn.wso2.org/repos/wso2/carbon/platform/trunk/platform-integration/system-test-framework/core/org.wso2.automation.platform.core/src/main/resources/artifacts/GREG/policy/EncrOnlyAnonymous.xml" />
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getMarketActivity">

            <soap12:operation soapAction="urn:getMarketActivity" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQuote">

            <soap12:operation soapAction="urn:getQuote" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getFullQuote">
            <soap12:operation soapAction="urn:getFullQuote" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSimpleQuote">
            <soap12:operation soapAction="urn:getSimpleQuote" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="placeOrder">
            <soap12:operation soapAction="urn:placeOrder" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="SimpleStockQuoteService1M">
        <wsdl:port name="SimpleStockQuoteService1MHttpSoap11Endpoint" binding="ns:SimpleStockQuoteService1MSoap11Binding">
            <soap:address location="http://10.100.1.109:9765/services/SimpleStockQuoteService1M.SimpleStockQuoteService1MHttpSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SimpleStockQuoteService1MHttpsSoap11Endpoint" binding="ns:SimpleStockQuoteService1MSoap11Binding">
            <soap:address location="https://10.100.1.109:9445/services/SimpleStockQuoteService1M.SimpleStockQuoteService1MHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SimpleStockQuoteService1MHttpSoap12Endpoint" binding="ns:SimpleStockQuoteService1MSoap12Binding">
            <soap12:address location="http://10.100.1.109:9765/services/SimpleStockQuoteService1M.SimpleStockQuoteService1MHttpSoap12Endpoint/" />

        </wsdl:port>
        <wsdl:port name="SimpleStockQuoteService1MHttpsSoap12Endpoint" binding="ns:SimpleStockQuoteService1MSoap12Binding">
            <soap12:address location="https://10.100.1.109:9445/services/SimpleStockQuoteService1M.SimpleStockQuoteService1MHttpsSoap12Endpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>